.auth-container form {
    margin-top: 30px; /* Add space on top of the form */
    padding: 30px; 
    background: #ffffff;
    border: 1px solid #ccc; /* Make the border lighter */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.errorlist {
    margin: 10px 0;
    padding: 10px;
    background-color: #f8d7da; /* red background */
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    color: #721c24;
    list-style-type: none; 
}

/* Adjust the individual input fields for better spacing and alignment */
.auth-container input[type='text'],
.auth-container input[type='email'],
.auth-container input[type='password'] {
    margin-bottom: 15px; /* Add more space between fields */
    border: 1px solid #ccc; /* Lighten border color */
    border-radius: 4px; /* Slightly rounded borders for inputs */
}

/* Submit button styling */
.auth-container button[type='submit'] {
    margin-top: 20px;
    padding: 10px 15px;
    width: 100%;
    font-size: 18px; /* Larger font size */
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px; /* Match the input border-radius */
    cursor: pointer;
}

/* Hover effect for button */
.auth-container button[type='submit']:hover {
    background-color: #218838;
}


.auth-container a {
    display: block;
    color: #007bff;
    margin-top: 15px;
    text-decoration: none;
    font-size: 16px;
}

.auth-container a:hover {
    text-decoration: underline;
}
