/* Header Styles */
.site-header {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 20px;
}

.logo {
    position: absolute;
    left: 20px;
    top: 50%; 
    transform: translateY(-50%);
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.navbar-links {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 20px; /* space between the links */
}

.navbar-links a, .search-bar button {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    border: 1px solid #ddd;
    border-right: none;
    font-size: 16px;
}

.search-bar button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #e7e7e7;
}


