
/* Main Feed Styles */

.main-feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.post {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 500px; /* Set a fixed height for each post */
}

.post > img {
  width: 100%;
  display: block;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

.post img {
  max-width: 100%;  /* Ensures the image fits its container */
  height: auto;  /* Maintains the aspect ratio */
}



.user-info, .post > a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.user-info:hover, .post > a:hover {
  opacity: 0.8;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.post p {
  padding: 15px;
  margin: 0;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}

.interactions {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  border-top: 1px solid #ddd;
}

.interactions span {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.likes:before, .comments:before {
  margin-right: 8px;
  font-size: 1.2rem;
}

.likes:before {
  content: '❤️';
}

.comments:before {
  content: '💬';
}