<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/header.css' %}">
    <title>{% block title %}User Profile{% endblock %}</title>
</head>
<body>

    <header class="site-header">
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'main_feed' %}">FOODIESHARE</a>
            </div>
            <div class="navbar-links">
                <form action="{% url 'foodieshare:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="Logout">Logout</button>
                </form>
                <!-- Add other links as necessary -->
            </div>
            <!-- The search bar can be added here if needed -->
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock %}
    </main>

    <footer>
        <!-- Footer content -->
    </footer>

</body>
</html>
