<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/header.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FOODIESHARE{% endblock %}</title>
    

</head>
<body>
    <header class="site-header">
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'main_feed' %}">FOODIESHARE</a>
            </div>
            <div class="navbar-links">
                {% block navbar_links %}
                <!-- Default links; these will be overridden in child templates if necessary -->
                <a href="{% url 'foodieshare:main_feed' %}">Main Feed</a>
                <a href="{% url 'foodieshare:register' %}">Register</a>
                <a href="{% url 'foodieshare:login' %}">Login</a>
                {% endblock %}
            </div>
    </header>
    <main>
        {% block content %}
        <!-- Login or registration forms will go here -->
        {% endblock %}
    </main>
</body>
</html>

