{% extends 'foodieshare/entry_base.html' %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block navbar_links %}
<a href="{% url 'foodieshare:main_feed' %}">Main Feed</a>
<a href="{% url 'foodieshare:register' %}">Register</a>
<a href="{% url 'foodieshare:about' %}">About</a>
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/entry.css' %}">

<div class="auth-container">
    <h2>Login</h2>
    <form method="post" action="{% url 'foodieshare:login' %}">
        <!-- {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required> -->

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}