
<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/main_feed.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/header.css' %}">

    <title>Main Feed</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>    
    <header class="site-header">
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'main_feed' %}">FOODIESHARE</a>
            </div>
            <div class="navbar-links">
                {% if user.is_authenticated %}
                <a href="{% url 'foodieshare:my_profile' %}">Profile</a>
                <a href="{% url 'foodieshare:about' %}">About</a>
                <a href="{% url 'foodieshare:contact' %}">Contact</a>
                
                {% else %}
                <a href="{% url 'foodieshare:register' %}">Register</a>
                <a href="{% url 'foodieshare:login' %}">Login</a>
                <a href="{% url 'foodieshare:about' %}">About</a>
                <a href="{% url 'foodieshare:contact' %}">Contact</a>
                {% endif %}
            </div>
            <div class="search-bar">
                <input type="text" id = "searchInput" placeholder="Search..." >
                <button type="submit" id="searchButton">Search</button>
            </div>
        </nav>
    </header>
    <div id="notification" style="display: none; position: fixed; top: 20%; left: 50%; transform: translateX(-50%);
     background-color: #ffffe0; border-radius: 5px; padding: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.5); z-index: 1050;">
        This looks delicious, press to see how to prepare this dish at home!
    </div>
    <div class="main-feed">
        {% for post in posts %}
        <div class="post" data-username="{{ post.user.auth_user.username  }}" data-recipe="{{ post.recipe }}">
            <a href="{% url 'foodieshare:user_profile' username=post.user %}" class="user-info">
                <img class="profile-pic" src="{% if post.user.profile_picture %}{{ post.user.profile_picture.url }}{% else %}{% static 'foodieshare/images/user.jpg' %}{% endif %}" alt="{{ post.user.auth_user.username }} profile picture">
                <span class="username" id = "userID">{{ post.user.auth_user.username }}</span>
            </a>
            <a href="{% url 'foodieshare:post_detail' post.id %}">
                <img src="{% if post.post_image %}{{ post.post_image.url }}{% else %}{% static 'foodieshare/images/meal.jpg' %}{% endif %}" alt="{{ post.recipe }}">
            </a>
            
            </a>
            <p>{{ post.recipe }}</p>
            <div class="interactions">
                <span class="likes">{{ post.likes.all.count }}</span>
                <span class="comments">{{ post.comments.all.count }}</span>
            </div>
        </div>
    {% endfor %}
    </div>
    <script src="{% static 'foodieshare/js/main_feed.js' %}"></script>
    <script src="{% static 'foodieshare/js/hover.js' %}"></script>
</body>
</html>