{% extends 'foodieshare/base_profile.html' %}
{% load staticfiles %}

{% block title %}My Profile{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/my_profile.css' %}">


<div class="profile-container">
    <div class="user-info">
        <img class="profile-pic" src="{% static 'foodieshare/images/user.jpg' %}" alt="{{ post.user.auth_user.username }}">
        <h2>{{ user.username }}</h2>
        <p>{{ user.bio }}</p>
    </div>
    <form method="post" enctype="multipart/form-data" class="post-form">
        
        <!-- <div class="form-group">
            <label for="imageUpload">Upload Image:</label>
            <input type="file" id="imageUpload" name="image">
        </div>
        <div class="form-group">
            <label for="nutrition">Nutrition:</label>
            <textarea id="nutrition" name="nutrition"></textarea>
        </div>
        <div class="form-group">
            <label for="recipe">Recipe:</label>
            <textarea id="recipe" name="recipe"></textarea>
        </div> -->
        {% csrf_token %}
        {{ post_form.as_p }}
        <button type="submit">Submit Post</button>
        <button type="submit" name="profile_form">Change Profile Picture</button>

    </form>
</div>
{% endblock %}