{% extends 'foodieshare/base_profile.html' %}
{% load staticfiles %}

{% block title %}My Profile{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/my_profile.css' %}">

<div class="profile-container">
    <div class="user-info">
         <img class="profile-pic" src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
        <h2>{{ user.username }}</h2>
        <p>{{ user.bio }}</p>
    </div>

    <!-- Profile Picture Update Form -->
    <form method="post" enctype="multipart/form-data" class="profile-picture-form">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="profile_form">

        {{ profile_form.as_p }}
        <button type="submit" name="profile_form">Update Profile Picture</button>
    </form>

    <form method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        {{ post_form.as_p }}
        <button type="submit" name="form_type" value="post_form">Submit Post</button>
    </form>
</div>
{% endblock %}
