{% extends 'foodieshare/entry_base.html' %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/entry.css' %}">

<div class="auth-container">
    <h2>Register</h2>
    <form method="post" action="{% url 'foodieshare:register' %}">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password1" placeholder="Password" required>
        <input type="password" name="password2" placeholder="Verify Password" required>
        <button type="submit">Register</button>
        <a href="{% url 'foodieshare:login' %}">Login</a>
    </form>
</div>
{% endblock %}