{% extends 'foodieshare/entry_base.html' %}
{% load staticfiles %}

{% block title %}Register{% endblock %}

{% block navbar_links %}
<a href="{% url 'foodieshare:main_feed' %}">Main Feed</a>
<a href="{% url 'foodieshare:login' %}">Login</a>
<a href="{% url 'foodieshare:about' %}">About</a>
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'foodieshare/css/entry.css' %}">

<div class="auth-container">
    <h2>Register</h2>
    <form method="post" action="{% url 'foodieshare:register' %} " enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
    </form>
</div>
{% endblock %}