{% extends 'foodieshare/base_profile.html' %}
{% load staticfiles %}

{% block content %}
<div class="profile-container">
    <div class="user-info">
        {% if profile_user.profile_picture %}
            <img class="profile-pic" src="{{ profile_user.profile_picture.url }}" alt="{{ profile_user.auth_user.username }}">
        {% else %}
            <img class="profile-pic" src="{% static 'foodieshare/images/default_user.jpg' %}" alt="{{ profile_user.auth_user.username }}">
        {% endif %}
        <h2>User Profile: {{ profile_user.auth_user.username }}</h2>
        <p>Email: {{ profile_user.auth_user.email }}</p>
    </div>
</div>
{% endblock %}